<?php

use ForestAdmin\AgentPHP\Agent\Utils\Env;
use ForestAdmin\AgentPHP\DatasourceEloquent\EloquentDatasource;
use ForestAdmin\SymfonyForestAdmin\Service\ForestAgent;

return static function (ForestAgent $forestAgent) {

     app()->get(AgentFactory::class)->addDatasource(
            new DoctrineDatasource(
                $forestAgent->getEntityManager(),
                [
                    'url' => Env::get('DATABASE_URL'),
                ]
            ),
        );
            //->build();
};
